@import url(http://fonts.googleapis.com/css?family=Raleway);
/* line 3, ../sass/styles.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 5, ../sass/styles.scss */
body {
  background: url(../img/fairydust.png) top left;
  font-family: 'Raleway';
  font-size: 14px;
  padding-top: 60px;
}

/* line 7, ../sass/styles.scss */
footer {
  background-color: #222;
}

/* line 9, ../sass/styles.scss */
ul {
  padding: 0;
}

/* line 10, ../sass/styles.scss */
li {
  list-style: none;
  margin: 0;
}

/* line 17, ../sass/styles.scss */
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #ccc;
}

/* line 20, ../sass/styles.scss */
.jumbotron {
  background-color: #222;
}
/* line 22, ../sass/styles.scss */
.jumbotron h1 {
  margin-top: 10px;
  color: #ccc;
  float: left;
  width: 15%;
  padding: 0 5px;
}
/* line 23, ../sass/styles.scss */
.jumbotron div {
  margin-top: 13px;
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ccc;
  float: right;
  width: 85%;
  padding: 0 5px;
}

/* line 26, ../sass/styles.scss */
.content {
  background-color: #222;
}

/* line 30, ../sass/styles.scss */
.home {
  margin: 0 !important;
}

/* line 33, ../sass/styles.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, ../sass/styles.scss */
.masonry-container {
  margin: 0 !important;
  height: 100%;
}
/* line 41, ../sass/styles.scss */
.masonry-container .masonry {
  margin: 30px;
}
/* line 43, ../sass/styles.scss */
.masonry-container .masonry .item {
  float: left;
}

/* item is invisible, but used for layout */
/* line 49, ../sass/styles.scss */
.item, .grid-sizer {
  width: 33%;
}

/* line 54, ../sass/styles.scss */
.item {
  border: none;
  background: transparent;
}

/* item-content is visible, and transitions size */
/* line 60, ../sass/styles.scss */
.item-content {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #3B3347;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
  -moz-transition: width 0.4s, height 0.4s;
  -o-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s;
}
/* line 72, ../sass/styles.scss */
.item-content .post-details {
  color: #fff;
}
/* line 74, ../sass/styles.scss */
.item-content .post-details small {
  font-size: 80%;
}
/* line 75, ../sass/styles.scss */
.item-content .post-details div {
  margin: 5px 0;
}
/* line 76, ../sass/styles.scss */
.item-content .post-details a.post-link {
  color: #fff;
  font-weight: bold;
}

/* line 80, ../sass/styles.scss */
.item:hover .item-content {
  overflow: hidden;
  background: #514663;
  cursor: pointer;
}

/* both item and item content change size */
/* line 88, ../sass/styles.scss */
.item.is-expanded {
  width: 66%;
  height: auto;
}

/* line 94, ../sass/styles.scss */
.item.is-expanded {
  z-index: 2;
}

/* line 98, ../sass/styles.scss */
.item.is-expanded .item-content {
  background: #63ACAA;
}

/* line 102, ../sass/styles.scss */
.post {
  background-color: #fff;
  padding: 25px;
}

/* line 106, ../sass/styles.scss */
.highlight {
  background: #ffffff;
  overflow-x: hidden;
}

/* line 107, ../sass/styles.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 108, ../sass/styles.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 109, ../sass/styles.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 110, ../sass/styles.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 111, ../sass/styles.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 112, ../sass/styles.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 113, ../sass/styles.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 114, ../sass/styles.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 115, ../sass/styles.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 116, ../sass/styles.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 117, ../sass/styles.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 118, ../sass/styles.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 119, ../sass/styles.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 120, ../sass/styles.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 121, ../sass/styles.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 122, ../sass/styles.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 123, ../sass/styles.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 124, ../sass/styles.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 125, ../sass/styles.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 126, ../sass/styles.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 127, ../sass/styles.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 128, ../sass/styles.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 129, ../sass/styles.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 130, ../sass/styles.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 131, ../sass/styles.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 132, ../sass/styles.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 133, ../sass/styles.scss */
.highlight .s {
  color: #dd1144;
}

/* Literal.String */
/* line 134, ../sass/styles.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 135, ../sass/styles.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 136, ../sass/styles.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 137, ../sass/styles.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 138, ../sass/styles.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 139, ../sass/styles.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 140, ../sass/styles.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 141, ../sass/styles.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 142, ../sass/styles.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 143, ../sass/styles.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 144, ../sass/styles.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 145, ../sass/styles.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 146, ../sass/styles.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 147, ../sass/styles.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 148, ../sass/styles.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 149, ../sass/styles.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 150, ../sass/styles.scss */
.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */
/* line 151, ../sass/styles.scss */
.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */
/* line 152, ../sass/styles.scss */
.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */
/* line 153, ../sass/styles.scss */
.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */
/* line 154, ../sass/styles.scss */
.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */
/* line 155, ../sass/styles.scss */
.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */
/* line 156, ../sass/styles.scss */
.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */
/* line 157, ../sass/styles.scss */
.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */
/* line 158, ../sass/styles.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 159, ../sass/styles.scss */
.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */
/* line 160, ../sass/styles.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 161, ../sass/styles.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 162, ../sass/styles.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 163, ../sass/styles.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 164, ../sass/styles.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 165, ../sass/styles.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
@media (max-width: 768px) {
  /* line 168, ../sass/styles.scss */
  .jumbotron {
    padding: 15px;
    margin-bottom: 15px;
  }
  /* line 170, ../sass/styles.scss */
  .jumbotron h1, .jumbotron div {
    float: none;
  }
  /* line 171, ../sass/styles.scss */
  .jumbotron div {
    font-size: 16px;
    line-height: 22px;
  }

  /* line 173, ../sass/styles.scss */
  .masonry {
    margin: 0px !important;
    width: 95%;
  }
  /* line 175, ../sass/styles.scss */
  .masonry .grid-sizer {
    height: auto;
  }
  /* line 176, ../sass/styles.scss */
  .masonry .item {
    width: 100%;
    border: none;
    height: auto;
  }
  /* line 178, ../sass/styles.scss */
  .masonry .item .item-content {
    background-color: transparent;
    border: none;
    padding: 10px;
  }
}
